*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* Alinha os itens pelo topo */
    width: 100%; /* Preenche toda a largura disponível */
    
    margin-top: 100px; /* Ajuste para sobrepor o fundo */
   padding-right: 150px;
   
    height: auto;
}

.FaleConoscoComponentContainer{
    width: 100%;
}