* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo variáveis de cores */
:root {
    --azul-escuro: #001530;
    --laranja: #D17F1F;
    --cinza-fundo: #F1F0EF;
    --azul-médio: #012044;
    --branco: #FFFFFF;
}

/* Tipografia */
:root {
    --font-fira-sans-extralight: 'FiraSans-ExtraLight', sans-serif;
    --font-fira-sans-light: 'FiraSans-Light', sans-serif;
    --font-fira-sans-regular: 'FiraSans-Regular', sans-serif;
}

/* Institucional Container */
.InstitucionalContainer {
    display: flex;
    /* Ativa o layout flex */
    align-items: flex-start;
    /* Alinha itens no topo */
    padding: 40px;
    background-color: var(--azul-escuro);
}

/* Artigo Container */
.ArtigoContainer {
    width: 50%;
    flex: 1;
    /* Permite que o artigo ocupe o espaço disponível */
    padding-right: 20px;
    /* Espaçamento à direita entre o texto e a imagem */
}

/* Título */
.TitleContainer {
    margin-bottom: 40px;
    width: 100%;
    height: 90px;
    /* Ajusta a altura automaticamente */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* Alinha o conteúdo à esquerda */
}

.Title {
    font-family: var(--font-fira-sans-extralight);
    font-size: 80px;
    /* Tamanho do título */
    line-height: 97px;
    /* Altura da linha */
    color: var(--laranja);
    /* Cor do título */
}

/* Fases Container */
.PhasesContainer {
    margin-bottom: 40px;
    /* Espaço abaixo do conteúdo */
}

/* Fase */
.Phase {
    font-family: var(--font-fira-sans-regular);
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    /* Cor do texto */
    margin-bottom: 20px;
    /* Espaçamento entre os parágrafos */
}

/* Foto Simone Container */


.FotoSimoneContainer {
    flex: 1;
    max-width: 508px;
    /* Largura máxima */
    width: 100%;
    height: auto;
    /* Altura automática */
    display: flex;
    align-items: center;
    justify-content: center;
}

.FotoSimone {
    border-radius: 15px;
}

@media (max-width: 1510px) {
    .Title {

        font-size: 3.3rem;
    }

    .Phase {

        font-size: 1.8rem;
        margin-bottom: -20px;
    }


    .FotoSimoneContainer {
        max-width: 500px;
        /* Largura máxima menor */
    }

    .FotoSimone {
        width: 100%;
        height: auto;
        object-fit: cover;
    }


    .ArtigoContainer {
        width: 500px;
        flex: 1;
        /* Permite que o artigo ocupe o espaço disponível */
        padding-right: 100px;
        /* Espaçamento à direita entre o texto e a imagem */


    }

}

@media (max-width: 1220px) {
    .InstitucionalContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;


        padding: 25px;
    }

    .ArtigoContainer {
        width: 40%;
        padding-top: 0;

        padding-left: 45px;
    }

    .FotoSimoneContainer {
        width: 800px;
    }
}

@media (max-width: 1075px) {
    .Title {

        font-size: 3rem;
    }

    .Phase {

        font-size: 1.2rem;
        margin-bottom: -10px;
    }
}

@media (max-width: 830px) {
    .InstitucionalContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .ArtigoContainer {
        margin-top: 30px;
        width: 80%;

    }

    .Title {
        font-size: 3.2rem;
    }

    .Phase {
        font-size: 1.7rem;
    }
}

@media (max-width: 695px) 

{

    .ArtigoContainer
    {
        width: 100%;
       
    }
 
}

@media (max-width: 545px) 

{

  .ArtigoContainer
  {
    width: 90%;
    padding: 0;
  }

    .Phase {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) 

{
    
    
        .FotoSimoneContainer {
            max-width: 400px;
            /* Largura máxima menor */
        }
    
}


